.FormBlock {
  text-align: center;
}

.FormBlock input {
  padding: 3px;
  border: 1px solid #333;
  border-radius: 4px;
}

.InputName {
  width: 350px;
  margin-right: 5px;
}

.InputCost {
  width: 80px;
}

.Currency {
  margin: 0 10px 0 5px;
}

.Btn {
  border-radius: 3px;
}