.ShoppingList {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 10px;
}

.Purchase {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  overflow: hidden;
}

.PurchaseName {
  float: left;
  max-width: 500px;
}

.PurchaseCost {
  float: right;
}

.PurchaseRemove {
  margin-left: 10px;
  color: red;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.TotalSpent {
  font-weight: bold;
}

.TotalSpent.top {
  margin-top: 20px;
}